/* =============Global rol=============== */
/* fonts:
- Montserrat
-Prata
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Prata&display=swap");

:root {
  --primary-color: #cf7b69;
  --light-color: #d1d8e0;
  --red-color: #ff4757;
  --flashWhite-color: #f1f2f6;
  --white-color: #fff;
  --dark-color: #000;

  /* font */
  --primary-font: "Montserrat", sans-serif;
  --second-font: "Prata", serif;
  --fs14: 14px;
  --fw600: 600;
  /* transition */
  --transition-color: color 0.3s;
  --transition-background: background-color 0.3s;
  --transition-border: border 0.3s;
  --transition-transform: transform 0.3s;
  /* shadow */
  --shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
  /*  */
  --fade: fade-bottom 0.3s cubic-bezier(0.39, 0.565, 1) both;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (min-width: 1440px) {
  html {
    zoom: 1;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 1;
    border: 1px solid red;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;

  background-color: var(--white-color);
}
a {
  text-decoration: none;

  color: inherit;
}
img {
  max-width: 100%;
  /* vertical-align: middle; */
}
ul {
  list-style: none;
}
p {
  /* margin: 0 0 15px; */
}

button {
  font: inherit;
}

strong {
  font-weight: var(--fw600);
}
h1,
h2,
h3,
h4 {
  font-family: var(--second-font);
  font-weight: 400;
  line-height: normal;
}
h1 {
  font-size: 2.75em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1em;
}
.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}
/* === start slider==== */
.content {
  position: relative;
}

.image {
  height: 400px;
}
.image img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content .title-info {
  background-color: bisque;
  margin: 0 auto;
  padding: 0 40px 5vw 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 600px;
  text-align: center;
}

.content .title-info .price {
  position: relative;
  font-size: 30px;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media (max-width: 400px) {
  .content .title-info .price {
    font-size: 20px;
    width: 70px;
    height: 70px;
  }
  .title {
    font-size: 40px;
  }
  .swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
  }
}

.title {
  /* font-size: clamp(30px, -0.875em + 8.333vw, 40px); */
  font-size: 50px;
  font-family: var(--second-font);
  font-weight: bold;
}

.title-info :where(span, h3, .button) {
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.75s, opacity 0.75s, visibility 0.75s;
}

.swiper-slide-active .title-info :where(span, h3, .button) {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.swiper-slide-active .title-info h3 {
  transition-delay: 0.5s;
  color: #fff;
}
.swiper-slide-active .title-info .button {
  text-align: center;
  margin: 10px 0;
  transition-delay: 0.75s;
}
.swiper-slide-active .title-info .button a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 30px;
  display: inline-block;
  line-height: 40px;
  border-style: solid;
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
  color: rgb(252, 252, 252);
}
.swiper-slide-active .title-info .button:hover a {
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: rgb(238, 238, 238);
}
/* ====== */
.custom-pagination {
  position: absolute;
  right: 30px;
  top: 50%;
  bottom: 50%;
}
.custom-pagination .swiper-pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.swiper-pagination-bullet {
  position: relative;
  width: 15px !important;
  height: 15px !important;
  opacity: 1;
  background-color: transparent;
  color: #000 !important;
  background-color: #000 !important;
}

/* === end slider==== */
/*  start blog slider */
.all_cards_blogs .wrapper {
  display: flex;
  grid-template-columns: unset;
  gap: unset;
}
.all_cards_blogs .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition-property: transform;
  box-sizing: content-box;
}

/*  end blog slider */
