.product_title {
  margin-top: 60px;
  margin-bottom: 60px;

  text-align: center;
}
.product_title h2 {
  font-family: var(--second-font);
  font-size: 40px;
  margin: 60px 0;
}
.all_cards {
  background-color: #f1f2f6;
  width: 100%;
}
.product_card {
  padding: 20px 20px;
}
.product_img {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden !important;
}
.thumbnail img {
  height: 400px;
  width: 100%;
}

.product_img:hover .actions {
  opacity: 1;
  transform: translateZ(0);
}
.actions {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  top: auto;
  bottom: 20px;
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.actions ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.actions ul li a {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: var(--white-color);

  border-radius: 50%;
  transition: var(--transition-background), var(--transition-color);
}
.actions ul li a:hover {
  background-color: var(--dark-color);

  color: var(--white-color);
}
