.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}
.product_title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.product_title h2 {
  /* font-weight: 600; */
  font-family: var(--second-font);
  font-size: 40px;
}
