.section_banar {
  position: relative;
}
.section_banar .overly {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.308);
  z-index: 2;
}
.section_banar img {
  height: 300px;
  width: 100%;
  object-position: calc(50%) calc(50%);
  object-fit: cover;
}
.section_banar h1 {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  transform: translate(0%, 30%);
  text-align: center;
  max-width: 700px;
  color: #d2d2d2;
  z-index: 100;
}
