.main_slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.main_slider div > img {
  width: 100%;
  object-fit: cover;
  height: 700px;
}

.main_slider div > .content {
  line-height: 8;
  display: flex;
  position: absolute;
  top: 40%;
  transform: translateX(55%);
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
}
.main_slider div > .content h3 {
  font-weight: bold;
  max-width: 600px;
  font-size: 60px;
  color: #b29672;
  font-family: var(--second-font);
}
.main_slider div > .content .btn a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 30px;
  display: inline-block;
  line-height: 40px;
  border-style: solid;
}
.main_slider div > .content .btn a:hover {
  color: rgb(245, 241, 241);
  background-color: rgb(0, 0, 0);
}
.main_slider div > .content .btn a {
  border-color: #fff;
  color: #fff;
}
